<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="{% static 'react/js/react.js' %}"></script>
     <script src="{% static 'react/js/react-dom.js'%}"></script>
     <script src="{% static 'react/js/prop-types.min.js'%}"></script>
     <script src="{% static 'react/js/babel.js'%}"></script>


     <script  type="text/babel" src="{% static 'react/js/myform.js'%}"></script>


    <title>Title</title>
</head>
<body>
<a href="home">home</a>
<h1>form </h1>
<div id="table"></div>
<div id="form2"></div>

</body>
</html>