<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
      <script src="{% static 'react/js/browser.min.js' %}"></script>
    <script src="{% static 'react/js/react.js' %}"></script>
    <script src="{% static 'react/js/react-dom.js'%}"></script>

    <script src="{% static 'react/js/prop-types.min.js'%}"></script>




    <script type="text/babel" src="{% static 'react/js/watch.js'%}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'react/css/watch.css' %}">
    <title>Title</title>
</head>
<body>
<h1>table</h1>
<div id="watch"></div>

</body>
</html>